@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h1 {
  font-family: "Staatliches", cursive;
  letter-spacing: 7px;
}

.App-header {
  padding: 1rem 2rem 1.2rem 2rem;
  border-bottom: 2px solid lightseagreen;
}

input {
  padding: 0.6rem 1rem;
  margin: 1rem;
  border-radius: 15px;
}

section.stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
  min-width: 400px;
  margin: 1rem auto;
  padding-bottom: 1.5rem;
  min-height: 98px;
}

h1 {
  color: lightseagreen;
}

button {
  padding: 0.6rem 2rem;
  border: none;
  background-color: lightseagreen;
  color: white;
  font-weight: 700;
  border-radius: 15px;
  text-transform: uppercase;
}

input:focus,
button:focus,
button:active {
  outline: 0;
}

img.icon {
  width: fit-content;
  width: 49px;
}

div.imgContainer {
  width: 100px;
  height: 100px;
}

footer {
  position: fixed;
  bottom: 1rem;
  padding-top: 1rem;
  border-top: 2px solid lightseagreen;
  width: 100%;
}

footer img {
  width: 29px;
  height: 29px;
  padding: 0 0.3rem;
  float: right;
}

form {
  margin: 5rem 0;
}

button.imageStack {
  display: none;
  margin: 0 auto;
}
