.App {
  text-align: center;
  margin: 0 auto;
}

.App-header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
  border-bottom: 2px solid lightseagreen;
  height: 40px;
}

.App-header div {
  display: flex;
  width: 500px;
}

.App-header div img {
  width: 50px;
}

input {
  padding: 0.6rem 1rem;
  margin: 1rem;
  border-radius: 15px;
}

img.logo {
  width: 100px;
  margin: 1rem;
  border-radius: 99999px;
}

section.stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
  min-width: 400px;
  margin: 1rem auto;
  padding-bottom: 1.5rem;
  min-height: 98px;
}

h1 {
  color: lightseagreen;
}

button {
  padding: 0.6rem 2rem;
  border: none;
  background-color: lightseagreen;
  color: white;
  font-weight: 700;
  border-radius: 15px;
  text-transform: uppercase;
}

input:focus,
button:focus,
button:active {
  outline: 0;
}

img.icon {
  width: fit-content;
  width: 49px;
  padding: 1rem;
}

div.imgContainer {
  width: 100px;
  height: 100px;
}

footer {
  position: fixed;
  bottom: 1rem;
  padding-top: 1rem;
  border-top: 2px solid lightseagreen;
  width: 100%;
}

footer img {
  width: 29px;
  height: 29px;
  padding: 0 0.3rem;
  float: right;
}
