.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  padding: 0.6rem 1rem;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
}

img.logo {
  width: 180px;
  border-radius: 99999px;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.3);
}

section.stack {
  padding: 2rem 1rem;
  margin: 0.1rem 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

p {
  min-height: 24px;
  color: white;
}
