@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.3rem;
}

.App {
  text-align: center;
}

h1 {
  font-family: "Staatliches", Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 12px;
  font-size: 2rem;
}

.App-header {
  padding: 1rem 2rem 1.2rem 2rem;
  border-bottom: 1px solid lightseagreen;
  box-shadow: 0 4px 15px rgba(86, 209, 231, 0.589);
}

input {
  padding: 0.6rem 1rem;
  margin: 1rem;
  border-radius: 15px;
}

h1 {
  color: lightseagreen;
}

button {
  padding: 0.6rem 2rem;
  border: none;
  background-color: lightseagreen;
  color: white;
  font-weight: 700;
  border-radius: 15px;
  text-transform: uppercase;
}

input:focus,
button:focus,
button:active {
  outline: 0;
}

img.icon {
  width: fit-content;
  width: 69px;
  height: 69px;
}

div.imgContainer {
  width: 100px;
  height: 71px;
}

button.imageStack {
  display: none;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }
}
