.App {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.App-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid lightseagreen;
}

input {
  padding: 0.6rem 1rem;
  margin: 1rem;
  border-radius: 15px;
}

img.logo {
  width: 30px;
  margin: 1rem;
  border-radius: 99999px;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.3);
}

section.stack {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  max-width: 500px;
  margin: 1rem auto;
  padding-bottom: 1.5rem;
  border-radius: 10px;
  min-height: 98px;
}

h1 {
  color: lightseagreen;
}

button {
  padding: 0.6rem 2rem;
  border: none;
  background-color: lightseagreen;
  color: white;
  font-weight: 700;
  border-radius: 15px;
  text-transform: uppercase;
}

input:focus,
button:focus,
button:active {
  outline: 0;
}

img.icon {
  padding: 0.4rem;
}
